@import 'antd/dist/antd.css';


.ant-table-tbody > tr.ant-table-row:hover > td.epd-selected-cell {
    background-color:rgba(255,80,0,0.50);
}

.epd-selected-cell {
    background-color:rgba(255,80,0,1);
}

.epd-product-level-0 {
    background-color:rgba(255,00,0,1);   
}
.epd-product-level-1 {
    background-color:rgba(255,50,0,1);   
}
.epd-product-level-2 {
    background-color:rgba(255,100,0,1);   
}
.epd-product-level-3 {
    background-color:rgba(255,150,0,1);   
}
.epd-product-level-4 {
    background-color:rgba(255,200,0,1);   
}




.ant-table-tbody > tr.ant-table-row:hover > td.epd-product-level-0 {
    background-color:rgba(255,00,0,0.85);
}
.ant-table-tbody > tr.ant-table-row:hover > td.epd-product-level-1 {
    background-color:rgba(255,50,0,0.85);   
}
.ant-table-tbody > tr.ant-table-row:hover > td.epd-product-level-2 {
    background-color:rgba(255,100,0,0.85);   
}
.ant-table-tbody > tr.ant-table-row:hover > td.epd-product-level-3 {
    background-color:rgba(255,150,0,0.85);   
}
.ant-table-tbody > tr.ant-table-row:hover > td.epd-product-level-4 {
    background-color:rgba(255,200,0,0.85);   
}

